<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<%= form_with url: posts_path, local: true, method: :get do |form| %>
  <%= form.text_field :title %>
  <%= form.submit '検索', class: 'btn btn-primary' %>
<% end %>

<%= link_to "post作成", new_post_url %><br>

<% if @posts.nil? %>
Post is not found.
<% else %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <%- @posts.each do |post| %>
      <tr>
        <td>
          <%= post.title %>
        </td>
        <td>
          <%= post.description %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

