<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>
<%= form_with url: posts_url do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <br>
  <%= form.label :description %>
  <%= form.text_area :description %>
  <br>
  <%= form.submit "作成" %>
<% end %>
